<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>recipient of contacts</title>
	<link rel="stylesheet" href="./styles.css">
</head>
<body>
	<div class="wrap">
		<% if (page === 'login') { %>
			<h2>Welcome! Please log in.</h2>
			<a class="auth login" href="/authorize">login with salesforce.com</a>
		<% } else { %>
			<h2>Hello, <%= user.display_name %></h2>
			<a class="auth logout" href="/logout">logout</a>
			<div>
				<h3>found <%= contactList.totalSize %> records:</h3>
				<% for (let i = 0; i < contactList.records.length; i++) {%>
					<div class="contact-wrap">
						<a class="contact"><%= contactList.records[i].Name %></a>
						<% if (contactList.records[i].show) { %>
							<div class="contact-info"></div>
						<% } %>
					</div>
				<%} %>
			</div>
		<% } %>
	</div>
</body>
</html>
